block chart-image
	.chart__image
		.
			<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="230" height="230" xmlns="http://www.w3.org/2000/svg">
				<circle class="circle-chart__background" stroke-width="1" cx="16.91549431" cy="16.91549431" r="15.91549431" stroke-dasharray="90,100" stroke-linecap="round" />
				<circle class="circle-chart__circle circle-chart__circle_color_green" stroke-width="1.2" stroke-dasharray="62.7,100" stroke-linecap="round" cx="16.91549431" cy="16.91549431" r="15.91549431" />
				<circle class="circle-chart__circle circle-chart__circle_color_yellow " stroke-width="1.5" stroke-dasharray="22,100" stroke-linecap="round" cx="16.91549431" cy="16.91549431" r="15.91549431" />
			</svg>
			<svg  class="circle-chart__flag" version="1.1" xmlns="http://www.w3.org/2000/svg" width="40" height="48"><image fill="cccccc" width="40" height="48" xlink:href="./images/loyalty.svg" /></svg>

	.chart__data
		.chart__data-inner
			.chart__value
				span.chart__value-main 72.
				span.chart__value-points 7
				span.chart__value-unit %
			.chart__title Лояльность
			.chart__score ниже среднего
			.chart__description по отрасли: FMCG значений слева от медианы 52.0% - 83.1%
			.chart__dynamics.chart__dynamics_type_positive 3.1
