html, body {
	width:100%;
	height:100%;
}
:root {
	--c-black: #000;
	--c-white: #fff;

	--c-gray1: #555;
	--c-gray2: #b1b1b1;
	--c-gray3: #9d9d9c;
	--c-gray4: #ececec;
	--c-gray5: #ccc;
	--c-gray6: #f9f9f9;
	
	--c-gray7: #b7b2b2;

	--c-green: #70a74b;
	--c-yellow: #fbd229;
	--c-red: #ed5243;
}